@font-face {
    src: url(/asset/font/space-grotesk.ttf);
    font-family: 'Space Grotesk';
    font-display: swap;
}
body {
    font-family: 'Space Grotesk', sans-serif;
}
.single-page {
    height: calc(100vh - 8.2rem);
}
