@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');

/* All Element */
* {
    margin: 0;
    padding: 0;

    font-family: 'Unbounded', cursive;

    /* Color Pallete */
    /* Global */
    --dark: rgb(25, 25, 25);
    --light: rgb(230, 230, 230);
    --gray: rgb(175, 175, 175);
    /* Background */
    --dark-bg: rgb(40, 40, 40);
    --light-bg: rgb(250, 250, 250);
    /* Hovered */
    --dark-hover: rgb(100, 100, 100);
    --light-hover: rgb(200, 200, 200);

    /* Size Guide */
    /* Font */
    --normal: 1rem;
    --title: 1.25rem;
    --normal-sm: 0.9rem;
    --title-sm: 1.5rem;
}

*::selection {
    background-color: var(--dark);
    color: var(--light);
}

/* Body */
body {
    background-color: var(--light-bg);
    overflow: hidden;
}

/* Container */
.container {
    height: 100vh;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.7rem 0;
    background-color: var(--light);
    width: 100%;
    position: fixed;
}

nav > ul {
    display: flex;
    list-style: none;
    gap: 3rem;
}

nav > ul:nth-child(1) {
    margin-left: 5rem;
}

nav > ul:nth-child(2) {
    margin-right: 5rem;
}

nav ul:nth-child(1) li {
    font-size: var(--title);
    font-weight: 900;
}

nav > ul:nth-child(2) > li {
    font-size: var(--normal);
}

nav > ul:nth-child(2) > li:nth-child(3) > a {
    color: var(--light);
    background-color: var(--dark);
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
}

nav > ul > li > a {
    color: var(--dark);
    text-decoration: none;
    transition: 0.25s;
}

nav > ul > li > a:hover {
    color: var(--dark-hover);
    border-bottom: 0.1rem solid var(--dark);
}

nav > ul:nth-child(2) > li:nth-child(3) > a:hover {
    color: var(--light-hover);
    border-bottom: 0;
}

nav > ul > li > a.active {
    border-bottom: 0.1rem solid var(--dark);
}

/* Main */
main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 5rem;
}

main > h1 {
    font-weight: 900;
    transition: 0.25s;
}

main > h1 > span {
    font-weight: 200;
}

main > h1,
p {
    text-align: center;
}

main > p {
    margin-top: 1rem;
    max-width: 70rem;
    line-height: 1.5rem;
}

main > p > a {
    border-bottom: 0.1rem solid var(--dark);
    font-weight: 500;
    text-decoration: none;
    color: var(--dark);
}

main a:hover {
    color: var(--dark-hover);
    border-bottom-color: var(--dark-hover);
}

/* Sub-page (/link, /project, /contact) */
main > ul {
    margin-top: 1rem;
}

main > ul > li {
    font-size: var(--normal-sm);
    list-style: none;
    line-height: 2rem;
    font-weight: 600;
    border: 0;
    margin: 0;
}

main > ul > li:nth-child(3) {
    margin: 0;
}

main > ul > li:nth-child(2) {
    border: 0;
}

main > ul > li > a {
    font-weight: 400;
    width: fit-content;
    color: var(--dark);
    transition: 0.25s;
    text-decoration: underline;
}

/* Footer */
footer {
    position: fixed;
    text-align: center;
    font-size: var(--normal-sm);
    font-weight: 200;
    width: 100%;
    color: var(--gray);
    margin-top: -3.5rem;
}

/* Responsive */
/* Size 745px and below */
@media (max-width: 745px) {
    /* Nav */
    nav {
        justify-content: center;
        display: block;
        padding: 1.25rem 0;
    }

    nav > ul {
        justify-content: center;
    }

    nav > ul:nth-child(2) > li:nth-child(1),
    li:nth-child(2) {
        border-right: 0.15rem solid var(--dark);
        padding-right: 0.7rem;
    }

    nav > ul:nth-child(1) {
        margin: 0 0 0.3rem 0;
    }

    nav > ul:nth-child(1) > li > a:hover {
        border: 0;
    }

    nav > ul:nth-child(2) > li > a:hover {
        color: var(--dark-hover);
        border: 0;
    }

    nav > ul:nth-child(2) {
        margin: 0;
        gap: 0;
    }

    nav > ul:nth-child(2) > li:nth-child(2),
    li:nth-child(3) {
        margin-left: 0.7rem;
    }

    nav > ul:nth-child(2) > li:nth-child(3) > a {
        color: var(--dark);
        background-color: transparent;
        padding: 0;
    }

    nav > ul:nth-child(2) > li:nth-child(3) > a:hover {
        color: var(--dark-hover);
    }
    /* Main */
    main {
        margin: 0 2.5rem;
    }

    main > h1 > span {
        font-weight: 300;
        display: block;
    }
}

/* Size 425px and below */
@media (max-width: 425px) {
    /* Nav */
    nav > ul:nth-child(2) {
        gap: 0;
    }

    nav > ul:nth-child(2) > li:nth-child(1),
    li:nth-child(2) {
        padding-right: 0.5rem;
    }

    nav > ul:nth-child(2) > li:nth-child(2),
    li:nth-child(3) {
        margin-left: 0.5rem;
    }

    /* Main */
    main {
        margin: 0 1rem;
    }

    main > h1 {
        font-size: var(--title-sm);
    }

    main > p {
        margin-top: 0.2rem;
        font-size: var(--normal-sm);
    }
    /* Footer */
    footer {
        margin-top: -7rem;
    }
}
